/* || General Styles */

:root {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  width: 100vw;
}

button {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  text-transform: none;
  -webkit-appearance: none;
}


a,
button {
  background-color: transparent;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* || Home */

.home {
  background-color: white;
  background-image: url('../images/backgrounds/background-sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (min-width: 576px) {
  .home {
    background-image: url('../images/backgrounds/background-md.jpg');
  }
}

@media screen and (min-width: 768px) {
  .home {
    background-image: url('../images/backgrounds/background-lg.jpg');
  }
}

.home__main-content-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home__heading {
  display: inline-block;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.home__title {
  display: block;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  font-family: Montserrat, sans-serif;
}

.home__subtitle {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
}


/* || Nav */

.nav {
  
}

.nav__dropdown-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  z-index: 3;
}

.nav__dropdown-button--close {
  color: black;
}

.nav__dropdown {
  z-index: 2;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8rem 1rem 8rem;
  height: 100%;
  width: 100%;
  max-width: 576px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  overflow-y: auto;
  /* transition: right 0.3s ease-in-out; */
}

.nav__dropdown--open {
  display: block;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav__list-item {
  margin: 1rem;
  text-align: right;
}

.nav__link {
  
}


/* sm screens */
@media screen and (min-width: 576px) {
  .nav__dropdown {
    width: 50%;
  }
}

/* md screens */
@media screen and (min-width: 768px) {
}

/* lg screens */
@media screen and (min-width: 992px) {
}

/* xl screens */
@media screen and (min-width: 1200px) {

}



/* || Utility Classes */

body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color:rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* .site-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} */

/* || Media Queries  */

/* sm screens */
@media screen and (min-width: 576px) {

}

/* md screens */
@media screen and (min-width: 768px) {

}

/* lg screens */
@media screen and (min-width: 992px) {

}

/* xl screens */
@media screen and (min-width: 1200px) {

}
