<footer class="footer">
  <div class="footer__column">
    <p>This demo photography portfolio website was designed and coded by <a href="https://www.jonrutter.com" class="footer__link" rel="noreferrer" target="_blank">Jon Rutter</a>, © 2021.</p>
    <p>This is not a stock photo platform.</p>
    <p>All photos are taken from <a href="https://www.pexels.com/license/" rel="noreferrer" target="_blank" class="footer__link">pexels.com</a>, and are the copyright of their respective owners. The photos are free to use without attribution, but click any photo to find its attribution information anyway!</p>
  </div>
  <div class="footer__column">
    <p>Do you need a website? I'd love to help! Get in touch with me at: <a href="mailto:contact@jonrutter.com" class="footer__link">contact@jonrutter.com</a></p>
    <p>Feel free to check out my other coding projects at <a href="https://www.jonrutter.com/portfolio/" class="footer__link" rel="noreferrer">my personal portfolio website.</a></p>
  </div>
</footer>
