{% load static %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en-us">
<head>
  {% include 'photos/head.html' %}
</head>
<body>

  <header class="header">
    <h1 class="header__title"><a href="{% url 'home' %}" class="header__link">Lorem Ipsum</a></h1>
  </header>

  {% include 'photos/nav.html' %}

  <main>
    <h2 class="section-heading">{{ title|lower }}</h2>
    <div class="grid">

      {% if photos %}
      {% for photo in photos %}

        <div class="grid__item">
          <img class="grid__image" src="{{ photo.image|thumbnail_url:'sm' }}" data-slide="{{ forloop.counter0 }}" alt="">
        </div>

      {% endfor %}
      {% else %}
        <h2>No Photos Yet!</h2>
      {% endif %}
    </div>
    
    <div id="image-grid-modal" class="modal hidden">
 
      <!-- Button controls -->
      <button class="modal__close" id="image-grid-modal-close" aria-label="Close image detail box"><i class="fas fa-times"></i></button>  
      <button class="modal__previous-button" id="image-grid-modal-previous" aria-label="Previous Image">&#10094;</button>
      <button class="modal__next-button" id="image-grid-modal-next" aria-label="Next Image">&#10095;</button>

      <div class="modal__container">
      <!-- Caption text -->
      <div class="modal__caption-wrap">
        <p class="modal__caption" id="image-grid-modal-caption"><a href="#" rel="noreferrer" id="image-grid-modal-caption-link" class="modal__caption-link" target="__blank"></a></p>
      </div>
      <div class="modal__content-wrap">
        <div class="modal__content">

          {% if photos %}
          {% for photo in photos %}
  
            <div class="modal__slide" data-slide="{{ forloop.counter0 }}">
              <img class="modal__image image-defer-load" src="" alt="{{ photo.alt_text }}" data-src="{{ photo.image|thumbnail_url:'lg' }}" data-caption="{{ photo.caption }}" data-href="{{ photo.href }}">
              <!-- <div class="modal__progress"></div> -->
            </div>
    
          {% endfor %}
          {% endif %}
        
        </div>  
      </div>
        
      </div>

    </div>

  </main>

  {% include 'photos/footer.html' %}

</body>
</html>